#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  

}

.card {
  padding: 2em;
  background-color: #fa8947;
  min-width: 280px;
}

.card img{
  width: 120px;
  
}

.card p{
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 500;
}

.badge{
  background-color: rgb(16, 172, 16);
  text-transform: capitalize;
  font-size: 0.625rem;
  padding: 2px 6px;
  font-weight: 700;
  border-radius: 12px;
}
.badge-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 20px;
  
}
.read-the-docs {
  color: #888;
}

.button{
  background-color: rgb(255, 24, 7);
  color: black;
  margin-top: 48px;
}

footer{
  padding-top: 36px;
}

footer p{color: black;